body{

    
    background-color: rgb(0, 98, 102);
    box-sizing: border-box;
    justify-content: center;
}
.container{
    width: 70%;
    margin: 8% auto 0px;
    background-color:rgb(18, 203, 196);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    
}
.container h1{
    
    background-color: aliceblue;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .container .user-detail{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
    margin: 10px auto;
  }
  .user-info{
    width:calc(100% / 2 - 20px) ;
    margin: 20px auto 0px;
    margin-top: 0px;
  }
 .user-detail .address{
    width: 100%;
 }
  .user-info input {
    width: 85%;
    padding: 10px;
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 2px;
    border-radius: 13px ;
  }
  
  
  .user-info label{
    padding:10px;
    
  }
  .user-info select,option{
    width: 94%;
    height: 43px;
    padding: 10px;
    margin:10px;
    font-size: 15px;
    border: 2px;
    border-radius: 13px;
  }
  .address input{
    width: 94%;
    padding: 10px;
    
  }

form .button{
    height: 45px ;
    width:70%;
    padding: 30px;
   
    
}
form .button input{
    width: 70%;
    height: 100%;
    margin-left: 30%;
    border-radius: 13px;
    border: 2px;
    background:  rgb(0, 98, 102);
    color: white;
    font-size: medium;
    box-shadow: 4px 5px 9px  rgb(0, 98, 102);
}
form .button input:hover{
    background-color: rgb(33, 147, 151) ;
}
@media screen and (max-width:642px){
      .container{
        width: 100%;
        margin-top: 0;
        border-radius: 0px;
      }
      body{
        margin: 0;
        padding: 0;
        background-color: aliceblue;

      }
      .container h1{
      padding-top: 0px;
      border-radius: 0%;
      }
     
     
}
              /* Intermediate profile section*/
body{
  background-color: rgb(0, 98, 102);
  margin: 0;
  padding: o;
}

.main{
  width:50%;
  background-color: rgb(18, 203, 196);
  margin: 20px auto 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.main h1{
  background-color: rgb(18, 137, 167);
  padding: 10px;
}
.student-detail{
  flex-wrap:wrap;
  margin: 10px;
  justify-content:center ;
}
.input-box{
  display: inline-block;
  padding-top: 10px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  padding-left: 20px;
  font-size:1.2rem;
   justify-content: space-between;
}
.input-radio{
  display: flex;
  margin-left:20px;
  font-size: 1.2rem;
}
.input-radio .radio{
  display: inline-block;
  padding-left: 30%;
  padding-right: 10px;
}

.input-box select,option{
  width: 50%;
  border-radius:10px;
  border: 1px solid blueviolet;
  margin-right: 30px;
  text-align: center;
  height: 40px;
  font-size: 15px;
 
}
.input-box label{
    width: 39%;
    display:flex;
    padding-top:10px ;

}
.input-box input{
    width: 50%;
    padding-top:10px;
    padding-bottom: 10px;
    height: 20px;
    border: 1px solid rgb(154, 135, 173);
    border-radius: 10px;
    text-align: center;
    margin-right: 30px;
    padding-right:0px;
    font-size:15px;
}
.btn{
  
  text-align:center;
  padding-bottom: 10px;
}
.btn .button{
   background-color:rgb(18, 137, 167);
   padding: 0px;
   border-radius: 20px;
   width: 50%;
}
.btn .back{
  background-color:rgb(18, 137, 167);
  padding: 12px;
  border-radius: 20px;
}
@media screen and (max-width:680px){
     .main{
      width: 100%;
      background-color:rgb(18, 203, 196) ;
      margin-top:0;
      padding-top:1px;
      margin-bottom: 0px;
      margin-right: 0px;
      padding-right: 10px;
      
     }
     body{
      overflow-x: hidden;
     }
     .main h1{
      padding-top: 10px;
      padding-left: 30px;
     }
}
  

    
